
#button {
    display: block;
    width: 20%;
    height: 60pt;
    font-size: 30pt;
    margin-left: auto;
    margin-right: auto;
}

#similarity-area{
    /* background-color: grey; */
    /* text-align:center; */
}

#img-area{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img{
    width:40%;
    padding-top: 40%;
    border: 1px solid green;
}

#main {
    margin: auto;
}

.input {
    /* border: 1px solid; */
    font-size: 30px;
    margin-top: 20px;
}

.textBox {
    font-size:30px;
    width: 70%;
    margin-right: 10%;
    float: right; 
}

#submit {
    display: block;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
}